<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
      .kartu {
        height: 310px;
      }

      body {
        background-image: url(vector.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px;
        overflow: hidden;
      }
    </style>

    <title>Login Sistem Lelang Online</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" style="height: 500px;">
          <div class="card text-center mx-auto my-3 kartu" style="width: 30rem;">
            <div class="card-body">
              <h2 class="card-title mb-5">Login Sistem Lelang</h2>
              <form action="POST" class="user mt-3 mb-3">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Masukan Username">
                </div>
                <div class="form-group mt-md-4">
                  <input type="password" class="form-control" placeholder="Masukan Password">
                </div>
                <button type="submit" class="btn btn-primary mt-4">Login</button>
                <a href="" class="btn btn-dark mt-4"> Registarsi</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>